# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# IDE-specific files
.idea/
.vscode/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled Python files for Windows
*.pyd
*.pyo
*.pyw
*.pyz

# Local development settings
.env

# Mac OS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
